Code to add price column to datasets that dont have price column

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
# Load preprocessed datasets

air = pd.read_csv('../preprocessed_data/bangalore/air_quality_bengaluru.csv')
noise = pd.read_csv('../preprocessed_data/bangalore/noise_quality_bengaluru.csv')
housing = pd.read_csv('../preprocessed_data/bangalore/india_housing_prices_bangalore_cleaned.csv')

In [33]:
# air quality data
print(air.shape)
# noise quality data
print(noise.shape)
# housing data
print(housing.shape)

(2009, 19)
(715, 12)
(4144, 28)

In [34]:
# Add price columns to noise and air

# Sort dfs
noise_sorted = noise.sort_values('MeanExcess')
housing_sorted = housing.sort_values('Price_per_SqFt')
air_sorted = air.sort_values('AQI_Bucket_encoded')

# Add price column to noise
min_len_noise = min(len(noise_sorted), len(housing_sorted))
noise_sorted = noise_sorted.iloc[:min_len_noise].copy()
housing_sorted_noise = housing_sorted.iloc[:min_len_noise].copy()

noise_sorted['Price_per_SqFt'] = housing_sorted_noise['Price_per_SqFt'].values
noise_sorted['Price_in_Lakhs'] = housing_sorted_noise['Price_in_Lakhs'].values
noise_with_price = noise_sorted.sort_index()

# Add price column to air
# Exclude rows where AQI_Bucket_encoded is -1
air_filtered = air_sorted[air_sorted['AQI_Bucket_encoded'] != -1]

min_len_air = min(len(air_filtered), len(housing_sorted))
air_filtered = air_filtered.iloc[:min_len_air].copy()
housing_sorted_air = housing_sorted.iloc[:min_len_air].copy()

air_filtered['Price_per_SqFt'] = housing_sorted_air['Price_per_SqFt'].values
air_filtered['Price_in_Lakhs'] = housing_sorted_air['Price_in_Lakhs'].values
air_with_price = air_filtered.sort_index()

In [35]:
noise_with_price

,Station,Year,Month,Day,Night,DayLimit,NightLimit,Date,StationEncoded,DayExcess,NightExcess,MeanExcess,Price_per_SqFt,Price_in_Lakhs
0,BEN01,2011,2,0.556357,-0.243566,-0.782821,-0.754469,2011-02-01,0,0.981018,0.575138,0.778078,0.03,145.38
1,BEN01,2011,3,0.556357,0.104734,-0.782821,-0.754469,2011-03-01,0,0.981018,0.758926,0.869972,0.03,89.30
2,BEN01,2011,4,0.556357,-0.069416,-0.782821,-0.754469,2011-04-01,0,0.981018,0.667032,0.824025,0.03,130.41
3,BEN01,2011,5,0.556357,-0.243566,-0.782821,-0.754469,2011-05-01,0,0.981018,0.575138,0.778078,0.03,94.91
4,BEN01,2011,6,0.734901,-0.069416,-0.782821,-0.754469,2011-06-01,0,1.081394,0.667032,0.874213,0.03,133.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,BEN10,2018,8,0.556357,0.627184,-0.782821,-0.754469,2018-08-01,9,0.981018,1.034606,1.007812,0.03,103.94
711,BEN10,2018,9,-0.157818,-0.243566,-0.782821,-0.754469,2018-09-01,9,0.579514,0.575138,0.577326,0.03,117.31
712,BEN10,2018,10,0.020726,-0.591866,-0.782821,-0.754469,2018-10-01,9,0.679890,0.391351,0.535620,0.03,59.13
713,BEN10,2018,11,0.199270,-0.069416,-0.782821,-0.754469,2018-11-01,9,0.780266,0.667032,0.723649,0.03,103.90
714,BEN10,2018,12,-0.157818,-0.069416,-0.782821,-0.754469,2018-12-01,9,0.579514,0.667032,0.623273,0.03,157.62

In [36]:
air_with_price

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Month,Year,AQI_Bucket_encoded,Price_per_SqFt,Price_in_Lakhs
79,Bengaluru,2015-03-21,48.59,NaN,3.47,27.00,18.04,28.02,3.89,1.94,...,21.33,196.72,NaN,91.0,Satisfactory,3,2015,1,0.03,138.02
80,Bengaluru,2015-03-22,47.38,NaN,2.84,22.39,15.33,23.19,11.29,2.05,...,14.97,138.20,NaN,120.0,Moderate,3,2015,2,0.07,349.88
81,Bengaluru,2015-03-23,65.65,NaN,3.10,26.35,17.45,27.76,9.95,6.30,...,9.88,100.77,NaN,154.0,Moderate,3,2015,2,0.07,272.68
82,Bengaluru,2015-03-24,60.47,NaN,5.39,29.87,20.88,35.10,1.46,6.07,...,5.90,61.48,NaN,119.0,Moderate,3,2015,2,0.07,285.18
83,Bengaluru,2015-03-25,62.56,NaN,3.16,23.57,16.39,27.13,10.05,4.98,...,4.53,39.99,NaN,232.0,Poor,3,2015,3,0.09,251.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004,Bengaluru,2020-06-27,16.60,29.48,3.06,13.68,13.07,6.88,0.67,7.29,...,0.21,1.18,NaN,51.0,Satisfactory,6,2020,1,0.03,139.83
2005,Bengaluru,2020-06-28,20.44,26.34,2.69,10.33,10.58,6.58,0.66,6.60,...,0.12,0.94,NaN,61.0,Satisfactory,6,2020,1,0.03,81.48
2006,Bengaluru,2020-06-29,28.68,29.27,3.62,12.12,12.94,6.80,0.56,6.33,...,0.17,1.17,NaN,65.0,Satisfactory,6,2020,1,0.03,130.34
2007,Bengaluru,2020-06-30,14.47,24.26,4.61,12.69,15.00,6.82,0.56,6.45,...,0.18,0.86,NaN,63.0,Satisfactory,6,2020,1,0.02,72.91
2008,Bengaluru,2020-07-01,17.50,30.48,3.95,13.25,14.83,7.42,0.54,6.66,...,0.27,0.65,NaN,43.0,Good,7,2020,0,0.01,54.82

In [37]:
# Save these df to csv
noise_with_price.to_csv('noise_with_price.csv', index=False)
air_with_price.to_csv('air_with_price.csv', index=False)